In [2]:
dictionary = {}

In [3]:
dictionary = {
    1: 'python' ,
    2: 'C',
    3: 'C++',
    4: ['os', 'java', 'R']

}

In [4]:
dictionary

{1: 'python', 2: 'C', 3: 'C++', 4: ['os', 'java', 'R']}

In [5]:
person = {
    'firstname': 'Tom' ,
    'lastname': 'Robertson' ,
    'age': 21,
    'payrate': 13.5

}
person

{'firstname': 'Tom', 'lastname': 'Robertson', 'age': 21, 'payrate': 13.5}

In [6]:
person['firstname']

'Tom'

In [7]:
person['sex'] = 'male'
person

{'firstname': 'Tom',
 'lastname': 'Robertson',
 'age': 21,
 'payrate': 13.5,
 'sex': 'male'}

In [10]:
key_to_find = 'firstname'
if  key_to_find in person:
   print(person[key_to_find])

Tom

In [11]:
del person['age']

In [12]:
person

{'firstname': 'Tom', 'lastname': 'Robertson', 'payrate': 13.5, 'sex': 'male'}

In [13]:

drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
path = '/content/drive/My Drive/Colab Notebooks/stock_prices.csv'

In [17]:
stock_price = []

with open(path, 'r') as f:
  for line in f:
    tokens = line.split(',')
    day = tokens[0]
    price = float(tokens[1])
    stock_price.append([day,price])

In [18]:
stock_price

[['march 6', 310.0],
 ['march 7', 340.0],
 ['march 8', 380.0],
 ['march 9', 302.0],
 ['march 10', 297.0],
 ['march 11', 323.0]]

In [20]:
stock_price[2]

['march 8', 380.0]

In [21]:
stock_price[2][1]

380.0

In [22]:
stock_price = {}

with open(path, 'r') as f:
  for line in f:
    tokens = line.split(',')
    day = tokens[0]
    price = float(tokens[1])
    stock_price[day] = price

In [23]:
stock_price

{'march 6': 310.0,
 'march 7': 340.0,
 'march 8': 380.0,
 'march 9': 302.0,
 'march 10': 297.0,
 'march 11': 323.0}

In [24]:
stock_price['march 6']

310.0

In [25]:
ord('m')

109

In [26]:
ord('a')

97

In [ ]:
'march 6'

In [28]:
def get_hash(key):
  hash_sum = 0
  for char in key:
    hash_sum += ord(char)
  return hash_sum % 10

In [29]:
get_hash('march 6')

9

In [41]:
class HashTable:
  def __init__(self):
    self.maxsize = 10
    self.arr = [None for i in range(self.maxsize)]

  def get_hash(self,key):
    hash_sum = 0
    for char in key:
      hash_sum += ord(char)
    return hash_sum % 10

  def add(self,key, value):
    h_value = self.get_hash(key)
    self.arr[h_value]= value

In [42]:
t = HashTable()

In [43]:
t.arr

[None, None, None, None, None, None, None, None, None, None]

In [44]:
t.add('march 6', 310)

In [45]:
t.arr

[None, None, None, None, None, None, None, None, None, 310]

In [46]:
t.add('march 7', 340)

In [47]:
t.arr

[340, None, None, None, None, None, None, None, None, 310]

In [48]:
t.arr[0]

340

In [59]:
class HashTable:
  def __init__(self):
    self.maxsize = 10
    self.arr = [None for i in range(self.maxsize)]

  def get_hash(self,key):
    hash_sum = 0
    for char in key:
      hash_sum += ord(char)
    return hash_sum % 10

  def __setitem__(self, key, value):
    h_value = self.get_hash(key)
    self.arr[h_value]= value

  def __getitem__(self, key):
    h_value = self.get_hash(key)
    return self.arr[h_value]

In [60]:
t = HashTable()

In [61]:
t['march 6'] = 310

In [62]:
t['march 6']

310